/* in archive page, use a more compact list view */
@font-face {
  font-family: "Frutiger";
  src: url("/font/Frutiger.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Frutiger";
  src: url("/font/Frutiger_bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "sanxelda";
  src: url("/font/sanxelda.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
.post-list.archives {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  max-width: 980px;
}
.post-list.archives .post-list-item {
  border-radius: var(--radius-large);
  background-color: var(--color-background-secondary);
  padding: 0;
  margin: 0;
  border-bottom: none;
  overflow: hidden;
  height: 350px;
}
.post-list.archives .post-list-item:nth-child(n) {
  margin-left: 0;
  margin-right: 0;
}
.post-list.archives .post-list-item:last-child {
  border-bottom: none;
}
.post-list.archives .post-list-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}
.post-list.archives .post-list-item .cover-img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius-medium);
}
@container document-body style(--config-corner-squircle: true) {
  @supports (corner-shape: squircle) {
    .post-list.archives .post-list-item .cover-img {
      corner-shape: squircle;
      --radius-tiny: 10px;
      --radius-small: 20px;
      --radius-medium: 30px;
      --radius-large: 40px;
      --radius-full: 999px;
    }
    .post-list.archives .post-list-item .cover-img * {
      --radius-tiny: 4px;
      --radius-small: 8px;
      --radius-medium: 12px;
      --radius-large: 16px;
      --radius-full: 999px;
    }
  }
}
.post-list.archives .post-list-item .cover-img {
  overflow: hidden;
}
.post-list.archives .post-list-item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 30%;
     object-position: center 30%;
}
.post-list.archives .post-list-item .album-title {
  display: block;
  font-weight: 700;
  font-size: 0.9em;
}
.post-list.archives .post-list-item .artist-name {
  display: block;
  font-weight: 400;
  font-size: 0.7em;
  opacity: 0.7;
}