@font-face {
  font-family: "Frutiger";
  src: url("/font/Frutiger.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Frutiger";
  src: url("/font/Frutiger_bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}